.scroll__btn-top{
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(9px);
    position: fixed;
    bottom: 90px;
    right: 90px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    font-size: 27px;
    cursor: pointer;
    border: 1px solid var(--color-primary);
}

#scroll__up-icon{
    color: var(--color-white);
    padding: 4px;
    margin-left: 4.2px;
    margin-bottom: 1px;
	animation: wheel 2s ;
	-webkit-animation: wheel 2s ;
}

@keyframes wheel {
	to {
		opacity: 0;
		bottom: 0;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 0px;
	}
}

.scroll__btn-top:hover{
    background: var(--color-white);
}

#scroll__up-icon:hover{
    color: var(--color-primary);
    border: 3px;
}


/* ----------- Media Quries for mobiles -----------*/
@media screen and (max-width: 600px ) {
    .scroll__btn-top{
        right: 31px;
        
    }
}

