header{
    height: 100vh;
    padding-bottom: 7rem;
    overflow: hidden;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*----------- cv -----------*/
.cv{
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/*----------- header socials -----------*/
.header__socials{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    padding-top: 1rem;
    left: 0;
    bottom: 3rem;    
}

.header__socials::before{
    content: '';
    width: 90px;
    height: 0.01rem;
    background: var(--color-primary);
}

/*----------- me -----------*/
.dp{
    background: #f7f7f7;
    width: 22rem;
    height: 27rem; 
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 1rem ;
    overflow: hidden;
    padding: 3rem 0 0 0   ;
}

/*----------- scroll  -----------*/
#scroll__down{
    display: block;
    align-self: center;
    top: 6rem;
    width: 1.6rem;
	height: 2.8rem;
	border: 3px solid #ffffff;
	border-radius: 60px;
	position: relative;
	&::before {
		content: '';
		width: 4px;
		height: 10px;
		position: absolute;
		top: 10px;
		left: 50%;
		transform: translateX(-50%);
		background-color: #ffffff;
		border-radius: 5px;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
  }

@keyframes wheel {
	to {
		opacity: 0;
		top: 20px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 50px;
	}
}


/* ----------- Media Quries for tablets -----------*/
@media screen and (max-width: 1024px) {
    header{
        height: 68vh;
    }
}

/* ----------- Media Quries for mobiles -----------*/
@media screen and (max-width: 600px ) {
    header{
        height: 100vh;
    }
    
    .header__socials, .scroll__down{
        display: none;
    }

    #scroll__down{
        top: 10rem;
    }
}
